.table {
    table-layout: fixed;
    overflow: auto;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
    background: whitesmoke;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container-wrapper {
    height: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 300px;
}

.home-image {
    display: block;
    width: 100% !important;
    height: auto !important;
}

.login-bax {
    text-align: center;
}

.login-container {
    width: 40%;
    margin: auto;
    margin-top: 100px;
}

.navbar-wrapper .navbar .container {
    width: auto;
    background-color: #fb8ca7;
}

.navbar-inverse {
    background-color: #fb8ca7;
}

.navbar-inverse .navbar-nav>li>a {
    color: #e3f318;
}


.navbar-inverse .navbar-brand {
    color: #0d61ef;
}

.carousel-caption {
    color: #e6057e;
}
